.renderFinal-r {
	background-color: white;
	width: auto;
	padding: 30px;
}

.renderBody-r {
	display: grid;
	grid-template-columns: 700px 800px;
	column-gap: 50px;
}

.leftBckImg-l {
	background-image: url(../Assets/main-image.png);
	background-repeat: no-repeat;
	background-size: 100% 500px;
	height: 500px;
	width: 100%;
	border-radius: 30px;
	margin-top: 30px;
}

.lefttag-l {
	position: absolute;
	background-color: white;
	height: 30px;
	width: 250px;
	margin-top: 120px;
	margin-left: 470px;
	border-radius: 7px;
}

.lefttagText-l {
	font-weight: 700;
	font-size: 18px;
	color: #543a29;
	margin-top: 3px;
	margin-left: 30px;
}

.leftName-l {
	position: absolute;
	height: 30px;
	width: 300px;
	margin-top: 105px;
	margin-left: 50px;
	font-size: 40px;
	font-weight: 700;
	color: white;
}

.leftQr-l {
	position: absolute;
	height: 270px;
	width: 300px;
	margin-top: 165px;
	margin-left: 50px;
}

.leftText-l {
	position: absolute;
	height: 40px;
	width: 400px;
	margin-top: 457px;
	margin-left: 50px;
}

.leftTexttxt-l {
	position: absolute;
	color: white;
	margin-top: -5px;
	font-weight: 500;
}

.leftDOB-l {
	position: absolute;
	height: 50px;
	width: 250px;
	margin-top: 190px;
	margin-left: 400px;
}

.leftExp-l {
	position: absolute;
	height: 50px;
	width: 250px;
	margin-top: 310px;
	margin-left: 400px;
}

.leftDOBLabel-l {
	color: white;
	font-weight: 500;
	position: absolute;
	font-size: 15px;
	margin-top: 1px;
}

.leftDOBText-l {
	color: white;
	font-weight: 500;
	position: absolute;
	font-size: 20px;
}

.leftExpLabel-l {
	color: white;
	font-weight: 500;
	position: absolute;
	font-size: 15px;
	margin-top: 1px;
}

.leftExpText-l {
	color: white;
	font-weight: 500;
	position: absolute;
	font-size: 20px;
}

.leftExpDot-l {
	height: 15px;
	width: 15px;
}

.leftPrintButton-l {
	text-decoration: none;
	border-radius: 15px;
	position: absolute;
	height: 50px;
	width: 300px;
	margin-top: 520px;
	margin-left: 10px;
}

[class^='leftPrintButtonBtn-l']:active {
	transform: scale(0.98);
}

.leftFAQ-l {
	position: absolute;
	margin-top: 580px;
	margin-left: 50px;
}

.leftPrintButtonBtn-l {
	border: none;
	border-radius: 15px;
	color: white;
	background-color: #543a29;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.leftPrintButtonBtn-l:focus {
	border: orange solid 2px;
}

.leftQRImg-l {
	height: 100%;
	width: 100%;
}

.leftFAQLink-l {
	text-decoration: none;
	font-weight: 500;
	color: dodgerblue;
}

.rightHeading-r {
	position: absolute;
	height: auto;
	width: 45%;
}

.rightHeadingText-r {
	font-weight: 500;
	font-size: 30px;
	margin-top: 30px;
}

.rightExcelsior-r {
	height: auto;
	width: 600px;
	margin-top: 100px;
}

.rightExcelsiorIcon-r,
.rightAppleIcon-r {
	height: auto;
	width: 250px;
}

.rightExcelsiorIconSave-r {
	height: 40px;
	width: 40px;
}

.rightExcelsiorIconText-r {
	font-weight: 400;
	font-size: 15px;
	margin-top: -45px;
	margin-left: 50px;
}

.rightExcelsiorText-r,
.rightExcelsiorText-r {
	height: auto;
	width: 300px;
	padding-top: 10px;
}

.rightExcelsiorTextTxt-r,
.rightAppleTextTxt-r {
	font-weight: 400;
	font-size: 15px;
	margin-top: 0px;
	width: 300px;
}

.rightExcelsiorButtons-r {
	height: auto;
	padding-bottom: 40px;
	width: 350px;
}

.rightExcelsiorButtonsGoogle-r {
	border-radius: 10px;
	height: 50px;
	width: 150px;
}

.rightExcelsiorButtonsApple-r {
	position: absolute;
	border-radius: 10px;
	height: 50px;
	width: 150px;
	margin-left: 30px;
}

.rightExcelsiorPhone-r {
	height: 290px;
	width: 200px;
	margin-top: -230px;
	margin-left: 450px;
	background-image: url(../Assets/phone.png);
}

.rightAppleIcon-r {
	width: 400px;
}

.rightExcelsiorText-r {
	width: 500px;
}

.rightExcelsiorHand-r {
	background-image: url(../Assets/hand.png);
	height: 100px;
	width: 200px;
	margin-top: -120px;
	margin-left: 450px;
	background-repeat: no-repeat;
	background-size: 200px 100px;
}

.rightExcelsiorPrintText-r {
	height: 50px;
	width: 400px;
}

.rightAppleTextTxt-r {
	width: 500px;
}

.rightAppleDiv-r {
	margin-top: -50px;
}
